* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://avatars.mds.yandex.net/i?id=c1cf6b63eb8a6ef4e4238f965bff1889_l-12616328-images-thumbs&n=13) center center no-repeat; background-size: cover;
}

.container {
    border-top: 5px solid #008080;
    width: 380px;
    height: 440px;
    background-color: #FFFFFF;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
}

h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 2px;
}

h5 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.box {
    height: 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

input[type=name], input[type=email], input[type=password] {
    font-size: 16px;
    width: 300px;
    height: 50px;
    margin: 10px 0;
    padding-left: 10px;
    outline: none;
    border: none;
    background-color: #EBEBEB;
}

button {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #008080;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0a2415;
}

.link a {
    text-decoration: none;
    color:#757575;
}

.link a:hover {
    font-weight: 800;
    color: black;
}

@font-face {
    font-family: "Calibri";
    src: local("Calibri");
}